@using Newtonsoft.Json;
@model WebApplication6.Models.Numbers
@{
    ViewBag.Title = "Index";
}
<script type="text/javascript" src="~/Scripts/jquery-1.10.2.js"></script>

<div id="content">
    <h1>Random numbers</h1>
    <!-- ko foreach: $root.data().randomNumbers.numbers -->
    <div data-bind="text: $data"></div>
    <!--/ko-->
    <hr style="height:5px" />
    <h1>Add number</h1>
    <!-- ko foreach: $root.data().staticNumbers.numbers -->
    <!-- ko if: $index() % 5 == 0 -->
    <hr />
    <!--/ko-->
    <div class="number" data-bind="text: $data"></div>
    <!--/ko-->
    <input type="color" id="newColor" />
    @*<input type="text" id="newStatic" /><a href="#" data-bind="click: function() { $root.addStaticNumber($('#newStatic').val()); }">+</a>*@

    <input type="text" id="newStatic" /><a href="#" data-bind="click: function() { $root.addStaticNumber($('#newColor').val(), $('#newStatic').val()); }">+</a>
</div>

<script type="text/javascript">
    var NumbersViewModel = function () {
        var self = this;

        self.data = ko.observableArray();

        self.init = function () {

        };

        self.addStaticNumber = function (color, value) {
            self.data().staticNumbers.numbers.push(value);
            $('.number:last-of-type').css("color", color);
        };
    }

    $(document).ready(function () {
        var vm = new NumbersViewModel();
        vm.data(ko.mapping.fromJS(@(Html.Raw(JsonConvert.SerializeObject(Model)))));
        vm.init();
        ko.applyBindings(vm, $('#content').get(0));
    });
</script>